@model List<JobPosting>

<div class="list-group mt-4">

    @{
        foreach (JobPosting jobPosting in Model)
        {
            <a href="#" onclick="showModal(@jobPosting.Id)" data-toggle="modal" data-target="#modalJobPosting" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@jobPosting.JobTitle</h5>
                <small>@jobPosting.JobLocation (@jobPosting.CompanyName)</small>
            </div>
            <p class="mb-1">Jahresgehalt: @jobPosting.Salary €</p>
            <small>Startet am @jobPosting.StartDate.ToShortDateString()</small>
            </a>

            <hr />
        }
    }
</div>